.list{
    text-align: center;
}

.list-group-item{
padding: .50rem 1.00rem !important;
}

.weather{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.main{
    /* border: 1px solid gray; */
    /* padding: 1rem; */
    margin-top: 1%;
    margin: auto;
}

.cardList{
    width: 18rem;
}