.list{
    text-align: center;
}

.list-group-item{
padding: .50rem 1.00rem !important;
}

.weather{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.main{
    margin-top: 1%;
    margin: auto;
}

.cardList{
    width: 18rem;
}

.weatherList{
    margin-left: 3% !important;
}